.loading-page {
    background: #FA8072;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

.btn-white {
    background: #FFF;
    color: #000;
}

.btn-white:hover,
.btn-white:hover {
    background: #F2f2f2;
}

.btn-thema {
    background: #FA8072;
    color: #fff;
}

.btn-white:hover,
.btn-white:hover {
    background: #16babc;
}

.mt--5,
.my--5 {
    margin-top: -5rem!important;
}

.mt--6,
.my--6 {
    margin-top: -6rem!important;
}

.mt--7,
.my--7 {
    margin-top: -7rem!important;
}

.mt--8,
.my--8 {
    margin-top: -8rem!important;
}

.mt--9,
.my--9 {
    margin-top: -9rem!important;
}

.price {
    color: #333;
}

.descricao {
    padding-top: 2px;
    padding-left: 10px;
    color: #333;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #333;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

fieldset {
    border: 1px dotted #FA8072 !important;
    margin: 0;
    margin-bottom: 30px;
    min-width: 0;
    padding: 20px 15px;
    position: relative;
    border-radius: 4px;
    background-color: #FFF;
    width: 100%;
    transition: 0.3s all ease;
  }

  fieldset:hover {
    border-color: #FA8072 !important;
  }

  legend {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-right: 0px;
    min-width: 5%;
    width: auto;
    border: 1px solid #FA8072;
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
    background-color: #ffffff;
    position: absolute;
    top:-15px;
  }

input:focus{
    border: 1px solid #FA8072 !important;
    color:#FA8072 !important;
    font-weight: 600 !important;
}

.custom-select {
    border: 1px solid #ccc;
    font-weight: 600 !important;
    color:#FA8072 !important;
  }

.custom-select:focus{
    border: 1px solid #FA8072;
    color:#FA8072;
}

.swal2-popup .swal2-styled.swal2-confirm {
	background-color: #FA8072 !important;
}
